{% extends 'shops/basic.html' %}

{% block title %} About Us {% endblock %}
{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awesome Cart</h1><br><br>
            <p>My Awesome Cart is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a
                private limited company. The company initially focused on online book sales before expanding into other
                product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle
                products.

                The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.[5][6] As of
                March 2017, My Awesome Cart held a 39.5% market share of India's e-commerce industry.[7] My Awesome Cart has a
                dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as
                being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] My Awesome Cart also owns
                PhonePe, a mobile payments service based on the UPI.

                In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in My Awesome Cart for US$16
                Billion, valuing My Awesome Cart at around $20 Billion.[9]</p><br><br>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
</main>
{% endblock %}